.jumbotron {
  background-color: black;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
.banner {
  width: max-content;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: black;
  color: #00c936;
  margin-top: 10px;
  margin-bottom: 0px;
  align-items: center;
  position: bottom;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 1px 2px 1px;
  margin-top: 2px;
  margin-bottom: 5px;
  max-width: 213px;
}
.carousel-inner {
  margin-bottom: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0%;
}
.badge {
  margin-left: 5px;
}
.footer-address-icon {
  padding-right: 10px;
}
.img-size {
  height: auto;
  width: 150px;
}
